 .u-section-1 {
  width: 1240px;
  margin-right: 0;
  margin-left: 0;
  background-image: url("images/images.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 36px;
  margin: 56px 1031px 0 20px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 51px;
  margin: -36px 886px 0 129px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 51px;
  margin: -51px 656px 0 274px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 51px;
  margin: -52px 555px 0 428px;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 51px;
  margin: -50px 401px 0 596px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -62px 284px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 245px;
  margin: 55px auto 0 0;
}

.u-block-4ba9-13 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
  background-image: linear-gradient(to right, #72efe9, #f5f7fa);
}

.u-block-4ba9-22 {
  height: 46px;
}

.u-section-1 .u-table-2 {
  width: 400px;
  margin: -464px 194px 0 auto;
}

.u-block-4ba9-40 {
  height: 46px;
}

.u-section-1 .u-table-cell-11 {
  background-image: linear-gradient(to right, #e1a418, white);
}

.u-section-1 .u-table-cell-12 {
  background-image: linear-gradient(to right, #e1a418, white);
}

.u-block-4ba9-51 {
  height: 46px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 235px auto -127px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 851px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 786px;
    margin-left: 29px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 556px;
    margin-left: 174px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 455px;
    margin-left: 328px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 301px;
    margin-left: 496px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 631px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 446px;
    margin-left: 64px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 345px;
    margin-left: 218px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 191px;
    margin-left: 386px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 451px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 415px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 330px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 255px;
    margin-left: 128px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 101px;
    margin-left: 296px;
  }

  .u-section-1 .u-table-2 {
    margin-right: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 251px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 215px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 130px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 155px;
    margin-left: 28px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 1px;
    margin-left: 196px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-right: 0;
  }
}